<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dane z CSV</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1 class="text-2xl font-bold text-center my-6">
    Data from csv file loading example
  </h1>

  <div class="m-6 w-full flex flex-col text-center items-center">
    <h2 class="mb-2 text-lg">Loading time [miliseconds]:</h2>
    <p>
      <%= loadingTime %>
    </p>
    <p><b>size of file:</b>
      <%= fileSize %> MB
    </p>
  </div>

  <div class="m-6 w-full flex flex-col text-center items-center">
    <h2 class="text-2xl font-bold text-center my-6">
      Load csv file and check opening time:
    </h2>
    <form action="/" method="POST" id="form">
      <select class="w-full rounded-md border-gray-200 pe-10 shadow-sm sm:text-sm" name="files" id="csv-select">
        <option value="">--Please choose an option--</option>
        <option value="micro" <%=file==='micro' ? 'selected' : '' %>>micro &#60;1kb</option>
        <option value="small" <%=file==='small' ? 'selected' : '' %>>small ~61Mb</option>
        <option value="middle1" <%=file==='middle1' ? 'selected' : '' %>>middle1 ~350Mb</option>
        <option value="middle2" <%=file==='middle2' ? 'selected' : '' %>>middle2 ~670Mb</option>
        <option value="big" <%=file==='big' ? 'selected' : '' %>>big ~1050Mb</option>
        <option value="huge" <%=file==='huge' ? 'selected' : '' %>>huge ~2270Mb</option>
      </select>
      <fieldset class="m-4">
        <legend>Select a method:</legend>
        <div>
          <input type="radio" id="read" name="method" value="read" <%=method==='read' ? 'checked' : '' %> />
          <label for="read">fs.readFile()</label>
        </div>
        <div>
          <input type="radio" id="stream" name="method" value="stream" <%=method==='stream' ? 'checked' : '' %> />
          <label for="stream">fs.createReadStream()</label>
        </div>
      </fieldset>
      <button id="submitBtn"
        class="disabled:cursor-not-allowed inline-block rounded border border-indigo-600 bg-indigo-600 disabled:opacity-50 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        type="submit">
        Submit
      </button>
    </form>
  </div>
  <div class="m-6 w-full flex flex-col text-center items-center">
    <h2 class="text-2xl font-bold text-center my-6">
      Load csv file and check opening time:
    </h2>
    <% if (runningStats) { %>
      <% runningStats.toReversed().forEach(function(item) { %>
        <li class="even:bg-blue-50 p-4 text-left min-w-96 list-none">
          <div class="flex">
            <div class="grow">
              <p> <span class="font-bold text-blue-800">file: </span>
                <%= item.fileName %>
              </p>
              <p> <span class="font-bold text-blue-800">size: </span>
                <%= item.fileSize %> Mb
              </p>
              <p> <span class="font-bold text-blue-800">method: </span>
                <span class="uppercase text-red-800 font-bold">
                  <%= item.method %>
                </span>
              </p>
              <p> <span class="font-bold text-blue-800">full time: </span>
                <% if (item.processed===null ) { %>
                  <span>
                    processing...
                  </span>
                  <% } else { %><span>
                      <%= item.processed %> ms
                    </span>
                    <% } %>
              </p>
            </div>
            <div class="grow flex flex-col items-center justify-center">
              <% if (item.loadingTime==='<error>' ) { %>
                <div class="text-center text-5xl">🛑</div>
                <p class="text-center text-red-700 font-bold">error</p>
                <% } else { %>
                  <p class="text-blue-800 text-3xl font bold">
                    <%= item.loadingTime %> ms
                  </p>
                  <% } %>
            </div>
          </div>
          <p class="text-xs text-right opacity-50 pt-2">
            <%= item.id %>
          </p>
        </li>
        <% }); %>
          <% } %>
  </div>

  <script>
    const submitBtn = document.getElementById('submitBtn')
    const form = document.getElementById('form')

    const disableButton = (e) => {
      e.preventDefault()
      e.target.disabled = true
      e.target.innerText = "Loading..."

      form.submit()
    }

    submitBtn.addEventListener("click", disableButton)
  </script>
</body>

</html>